<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>

    <div class="title">
    
        {{ data.lbstream.parcelid.id}}

        <h1>{{ data.lbstream.parcelid.source[0].sourcename}}</h1>


        <!--============= Page Content =============-->
        <div class="content">
            <div class="container">

                <h1>This is a dummy content that precedes the navbar</h1>
                                <div class="line"></div>

                <p>This pen is a part of the <a href="">Bootstrap navbar guide</a> from Bootstrapious. Check out more cool navbar tips there.
                </p>

            </div>
        </div><!-- /.============= Page Content =============-->


        <!--============= Navbar =============-->
        <nav class="navbar">
            <div class="container">

                <!-- Navbar Header [collects both toggle button and navbar brand] -->
                <div class="navbar-header">
                    <!-- Toggle Button [handles opening navbar menu on mobile screens]-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
                        <i class="glyphicon glyphicon-align-center"></i>
                    </button>

                    <!-- Navbar Brand -->
                    <a href="#" class="navbar-brand">
                        Bootstrap Navbar
                    </a>
                </div>


                <!-- Navbar Collapse [collect navbar components such as navbar links and forms ] -->
                <div class="collapse navbar-collapse" id="exampleNavComponents">

                    <!-- Navbar Links -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>

                    <!-- Navbar Form -->
                    <form action="#" class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn">Submit</button>
                    </form>

                    <!-- Navbar Button -->
                    <button type="button" class="btn navbar-btn navbar-right">Sign in</button>

                </div>
            </div>

        </nav><!-- /.============= Navbar =============-->



        <!--============= Page Content =============-->
        <div class="content">
            <div class="container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repudiandae sapiente explicabo aperiam veritatis adipisci, omnis debitis sint quaerat soluta necessitatibus, dolore accusamus aut neque ab? Non praesentium maxime perferendis!</p>

                <div class="line"></div>

                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique iusto aspernatur eius a blanditiis eveniet ullam et itaque, esse rem fuga voluptate voluptatibus voluptatum, tempore obcaecati praesentium ad quo sunt.</span><span>Velit optio quidem qui nam quia eius obcaecati dolor eligendi facere tempore, ratione rem inventore nobis maxime sit reiciendis placeat dolores ad recusandae porro. Omnis rerum similique quo voluptate incidunt!</span>
                </p>

                <div class="line"></div>

                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nam voluptate sed explicabo, ut adipisci dolore omnis. Facilis veniam natus quae, alias sapiente. Explicabo maxime eligendi maiores quisquam ipsam, omnis!</span>
                    <span>Consequuntur odit, assumenda soluta voluptatibus earum quasi, ipsa est natus quae facilis aliquid sint. Fugiat illum eum quis fuga id totam molestiae, itaque reprehenderit et iusto voluptatum similique facilis doloremque.</span>
                    <span>Pariatur quibusdam nesciunt explicabo ea saepe, at atque aut iste vel quis et, quos nam itaque magni assumenda libero amet corrupti architecto doloremque voluptatem neque doloribus qui non unde. Doloribus.</span>
                    <span>Architecto id, error nobis. Vel quibusdam, eius aut deserunt sed omnis necessitatibus ab iusto eveniet, tenetur tempore a nobis illum quia optio est excepturi adipisci doloribus quidem? Animi, officiis repellendus!</span>
                </p>

                <div class="line"></div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repudiandae sapiente explicabo aperiam veritatis adipisci, omnis debitis sint quaerat soluta necessitatibus, dolore accusamus aut neque ab? Non praesentium maxime perferendis!</p>

                <div class="line"></div>

                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique iusto aspernatur eius a blanditiis eveniet ullam et itaque, esse rem fuga voluptate voluptatibus voluptatum, tempore obcaecati praesentium ad quo sunt.</span><span>Velit optio quidem qui nam quia eius obcaecati dolor eligendi facere tempore, ratione rem inventore nobis maxime sit reiciendis placeat dolores ad recusandae porro. Omnis rerum similique quo voluptate incidunt!</span>
                </p>
            </div>
        </div><!-- /.============= Page Content =============-->
    
    
    
    
        <!-- {% for item in data %}
        
        {% endfor %} -->
    </div>


</body>
</html>