<div id="property-detail" class="description-holder">
    <div class="property-feature">
        <div class="element-title">
            <h3>Key Details</h3>
        </div>
        <p>Lorem ipsum dolor sit amet</p>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
        <p>
            dolore magnam aliquam quaerat</p>
        <p>
            dolore magnam </p>
        <p>
            dolore magnam aliquam quaerat</p>
        <p>
            dolore magnam aliquam quaerat</p>
    </div>
    <div class="property-dsec">
        <div class="element-title">
            <h3>PROPERTY DESCRIPTION</h3>
        </div>
        <p class="details_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
    </div>