<div class="slideshowContainer">
    <img class="imageSlides" src="http://s1.picswalls.com/wallpapers/2015/09/20/beautiful-hd-wallpaper-2015_111526537_269.jpg" alt="beach side city view">
    <img class="imageSlides" src="http://4.bp.blogspot.com/-oxlezteeOII/TfiTImj4RlI/AAAAAAAAA1k/UAgctmU5VZo/s1600/Widescreen+Unique+And+Beautiful+Photography+%25284%2529.jpg" alt="leaf on the ground">
    <img class="imageSlides" src="https://i.pinimg.com/originals/cf/ed/a0/cfeda03d01da4b779093c9d928c01dee.jpg" alt="lake surrounded by mountains">

    <span id ="leftArrow" class="slideshowArrow">&#8249;</span>
    <span id ="rightArrow" class="slideshowArrow">&#8250;</span>
    
    <div class="slideshowCircles">
        <span class="circle dot"></span>
        <span class="circle"></span>
        <span class="circle"></span>
    </div>
</div>